@page "/kullanim"
@using Bitki.Blazor.Models
@inject HttpClient Http

<h3>Kullanım Tipleri Listesi</h3>

@if (items == null)
{
    <p><em>Yükleniyor...</em></p>
}
else
{
    <p>Kayıt Sayısı: @items.Length</p>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Kullanım Adı</th>
                <th>Tip</th>
                <th>Seviye</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in items)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.UsageName</td>
                    <td>@item.Type</td>
                    <td>@item.Level</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private KullanimViewModel[]? items;

    protected override async Task OnInitializedAsync()
    {
        items = await Http.GetFromJsonAsync<KullanimViewModel[]>("api/kullanim");
    }
}